services:
    _defaults:
        autowire: false      # Automatically injects dependencies in your services.
        autoconfigure: false # Automatically registers your services as commands, event subscribers, etc.
        public: true         # this makes public all the services defined in this file


    app.stomp.service:
        class: Aimchat\StompBundle\Service\Service
        arguments: ['@stomp_bundle.service.adapter.lite', '@logger']


    stomp_bundle.service.adapter.lite:
        class: Aimchat\StompBundle\Service\Adapter\LiteAdapter
        factory: [Aimchat\StompBundle\Service\Adapter\LiteAdapterFactory, factory]
        arguments:
            $host: '%stomp_host%'
            $login: '%stomp_login%'
            $password: '%stomp_passcode%'
            $versions: '%stomp_versions%'
            $vhost: '%stomp_vhost%'